<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022057488802-srg0bk5c4n3kp00rbs77vf3n69ahpdme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022057488802-srg0bk5c4n3kp00rbs77vf3n69ahpdme</string>
	<key>API_KEY</key>
	<string>AIzaSyBe_rsqNCTue6Wg2w4uns5qGxOv99ZbC7s</string>
	<key>GCM_SENDER_ID</key>
	<string>1022057488802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.pacetracker.rocc</string>
	<key>PROJECT_ID</key>
	<string>royal-oaks-6cc67</string>
	<key>STORAGE_BUCKET</key>
	<string>royal-oaks-6cc67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022057488802:ios:485cd5a5cfea4f4c6212fb</string>
	<key>DATABASE_URL</key>
	<string>https://royal-oaks-6cc67.firebaseio.com</string>
</dict>
</plist>